.product_item_vertical {
  font-family: OpenSans, sans-serif;
  color: #323c48;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 224px;
}

.product_item_vertical_none {
  color: #7e8fa4;
}

.img_product {
  width: 224px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(50, 60, 72, 0.1);
}

.img_product_none {
  opacity: 0.5;
}

.is_in_stock {
  color: #41ce7f;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom-right-radius: 15px;
  z-index: 1;
  padding: 15px 11px 15px 12px;
}

.is_in_stock_none {
  background-color: #f5f6fa;
  color: #7e8fa4;
}

.name {
  font-size: 16px;
  line-height: 1.5;
  margin: 15px 0 0 0;
  text-align: left;
}

.rating {
  width: 224px;
  margin: 4px 0 0 0;
  text-align: left;
}

.prices {
  width: 224px;
  margin: 4px 0 0 0;
  text-align: left;
}

.price_with_discount {
  font-size: 20px;
}

.price {
  font-size: 12px;
}
