.numbers {
  font-size: 14px;
}

.title {
  font-size: 20px;
  color: #323c48;
  text-align: left;
  padding: 0 0 16px 0;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.minValue {
  color: #7e8fa4;
  font-size: 14px;
  margin: 0 8px 0 8px;
  padding: 0 16px 0 16px;
  height: 30px;
  width: 70px;
  border: solid 1px #7e8fa4;
}

.maxValue {
  color: black;
  font-size: 14px;
  margin: 0 8px 0 8px;
  padding: 0 16px 0 16px;
  height: 30px;
  width: 70px;
  border: solid 1px #7e8fa4;
}

.error_message {
  font-size: 12px;
  margin: 5px 0 0 0;
  color: plum;
}
