.title {
  font-family: OpenSans, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #323c48;
  text-align: left;
  padding-bottom: 16px;
}

.wrapper {
  font-family: OpenSans, sans-serif;
  color: #323c48;
  font-size: 14px;
  font-weight: 600;
}

.inputs {
  text-align: justify;
}

.minValue {
  color: #7e8fa4;
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
  height: 30px;
  width: 85px;
  border: solid 1px #7e8fa4;
  padding-left: 16px;
  padding-right: 16px;
}

.maxValue {
  color: black;
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
  height: 30px;
  width: 85px;
  border: solid 1px #7e8fa4;
  padding-left: 16px;
  padding-right: 16px;
}
