.addRemove_button {
  font-size: 14px;
  height: 30px;
  width: 224px;
  border: 1px solid #323c48;
  background-color: white;
  margin: 16px 0 0 0;
}

.lock {
  pointer-events: none;
  opacity: 0.5;
}
