.filterList {
  text-align: center;
  width: 300px;
  padding: 150px 40px 0 0;
}

.reset_button {
  font-size: 14px;
  height: 30px;
  width: 256px;
  border: 1px solid #323c48;
  background-color: white;
  margin: 20px 0 0 0;
  pointer-events: none;
}
