.filterList {
  width: 300px;
  text-align: center;
  padding-right: 40px;
  padding-top: 150px;
}

.reset_button {
  font-size: 14px;
  height: 30px;
  width: 256px;
  border: 1px solid #323c48;
  background-color: white;
  margin-top: 20px;
}
