.price_filter {
  background-color: white;
}

.price_filter_header {
  text-align: left;
  font-weight: bold;
}

.price_filter_input {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: justify;
}

.price_filter_input input {
  padding-left: 20px;
  height: 20px;
  width: 80px;
  border: 1px solid #7e8fa4;
}

.price_filter_minValue {
  color: #7e8fa4;
}

.price_filter_maxValue {
  color: black;
}

.price_filter_button {
  overflow: hidden;
}
.price_filter_button button {
  background-color: #323c48;
  color: white;
  border: none;
  text-align: center;
  height: 30px;
  width: 100%;
}
